/* Mixins */
@mixin border-gradient($from, $to, $width) {
  border-left: $width solid $from;
  border-right: $width solid $to;
  background-image:

    -webkit-linear-gradient(left, $from, $to),
    -webkit-linear-gradient(left, $from, $to);

  background-size: 100% $width;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

@mixin font-gradient($from, $to, $dir) {
  background: -webkit-linear-gradient($dir, $from, $to);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
