// Variables

// Gradient colors
$yellow:  #add356;
$teal:    #00dfa6;
$lorange: #ffcb52;
$dorange: #ff451f;
$blue:    #3dade9;
// $blue:    #ee583f;
$purple:  #bf2fcb;
// $purple:  #bd3381;

// Button styles
$btn-margin: 1em 0.3em;
$btn-paddings: 1em 1em;
$btn-border-radius: 1px;
$btn-font-weight: 500;
