// Variables

// Gradient colors
$yellow:      #add356;
$teal:        #00dfa6;
$lorange:     #ffcb52;
$dorange:     #ff451f;
$blue:        #3dade9;
$peachy:      #ee583f;
$purple:      #bf2fcb;
$deep-purple: #bd3381;

// Button styles
$btn-border-size: 5px;
$btn-margin: 1em 0.3em;
$btn-paddings: 1em 1em;
$btn-border-radius: 1px;
$btn-font-weight: 500;
$btn__big-paddings: .75em;
$btn__big-font-size: 4em;
$btn__big-font-weight: 100;
