@import "_variables";
@import "_mixins";

.btn {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  margin: $btn-margin;
  padding: $btn-paddings;
  background: transparent;
  border-radius: $btn-border-radius;
  font-weight: $btn-font-weight;
  text-align: center;
  line-height: 1;
  letter-spacing: 1px;

  &.big {
    padding: $btn__big-paddings;
    font-size: $btn__big-font-size;
    font-weight: $btn__big-font-weight;
  }
  &.green span {
    @include font-gradient($yellow, $teal, left);
  }
  &.orange span {
    @include font-gradient($lorange, $dorange, left);
  }
  &.blue span {
    @include font-gradient($blue, $purple, left);
  }
  &.peachy span {
    @include font-gradient($peachy, $deep-purple, left);
  }
}

.border {
  .green {
    @include border-gradient($yellow, $teal, $btn-border-size);
  }
  .orange {
    @include border-gradient($lorange, $dorange, $btn-border-size);
  }
  .blue {
    @include border-gradient($blue, $purple, $btn-border-size);
  }
  .peachy {
    @include border-gradient($peachy, $deep-purple, $btn-border-size);
  }
}
